# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
scripts/node_modules/.package-lock.json
scripts/node_modules/.bin/acorn
scripts/node_modules/.bin/acorn.cmd
scripts/node_modules/.bin/acorn.ps1
scripts/node_modules/.bin/ts-node
scripts/node_modules/.bin/ts-node-cwd
scripts/node_modules/.bin/ts-node-cwd.cmd
scripts/node_modules/.bin/ts-node-cwd.ps1
scripts/node_modules/.bin/ts-node-esm
scripts/node_modules/.bin/ts-node-esm.cmd
scripts/node_modules/.bin/ts-node-esm.ps1
scripts/node_modules/.bin/ts-node-script
scripts/node_modules/.bin/ts-node-script.cmd
scripts/node_modules/.bin/ts-node-script.ps1
scripts/node_modules/.bin/ts-node-transpile-only
scripts/node_modules/.bin/ts-node-transpile-only.cmd
scripts/node_modules/.bin/ts-node-transpile-only.ps1
scripts/node_modules/.bin/ts-node.cmd
scripts/node_modules/.bin/ts-node.ps1
scripts/node_modules/.bin/ts-script
scripts/node_modules/.bin/ts-script.cmd
scripts/node_modules/.bin/ts-script.ps1
scripts/node_modules/.bin/tsc
scripts/node_modules/.bin/tsc.cmd
scripts/node_modules/.bin/tsc.ps1
scripts/node_modules/.bin/tsserver
scripts/node_modules/.bin/tsserver.cmd
scripts/node_modules/.bin/tsserver.ps1
scripts/node_modules/@cspotcode/source-map-support/browser-source-map-support.js
scripts/node_modules/@cspotcode/source-map-support/LICENSE.md
scripts/node_modules/@cspotcode/source-map-support/package.json
scripts/node_modules/@cspotcode/source-map-support/README.md
scripts/node_modules/@cspotcode/source-map-support/register-hook-require.d.ts
scripts/node_modules/@cspotcode/source-map-support/register-hook-require.js
scripts/node_modules/@cspotcode/source-map-support/register.d.ts
scripts/node_modules/@cspotcode/source-map-support/register.js
scripts/node_modules/@cspotcode/source-map-support/source-map-support.d.ts
scripts/node_modules/@cspotcode/source-map-support/source-map-support.js
scripts/node_modules/@jridgewell/resolve-uri/LICENSE
scripts/node_modules/@jridgewell/resolve-uri/package.json
scripts/node_modules/@jridgewell/resolve-uri/README.md
scripts/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs
scripts/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs.map
scripts/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js
scripts/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js.map
scripts/node_modules/@jridgewell/resolve-uri/dist/types/resolve-uri.d.ts
scripts/node_modules/@jridgewell/sourcemap-codec/LICENSE
scripts/node_modules/@jridgewell/sourcemap-codec/package.json
scripts/node_modules/@jridgewell/sourcemap-codec/README.md
scripts/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs
scripts/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs.map
scripts/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js
scripts/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js.map
scripts/node_modules/@jridgewell/sourcemap-codec/src/scopes.ts
scripts/node_modules/@jridgewell/sourcemap-codec/src/sourcemap-codec.ts
scripts/node_modules/@jridgewell/sourcemap-codec/src/strings.ts
scripts/node_modules/@jridgewell/sourcemap-codec/src/vlq.ts
scripts/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts
scripts/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts
scripts/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts
scripts/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts
scripts/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts
scripts/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts
scripts/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts
scripts/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts.map
scripts/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts
scripts/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts.map
scripts/node_modules/@jridgewell/trace-mapping/LICENSE
scripts/node_modules/@jridgewell/trace-mapping/package.json
scripts/node_modules/@jridgewell/trace-mapping/README.md
scripts/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs
scripts/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs.map
scripts/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js
scripts/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js.map
scripts/node_modules/@jridgewell/trace-mapping/dist/types/any-map.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/binary-search.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/by-source.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/resolve.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/sort.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/sourcemap-segment.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/strip-filename.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/trace-mapping.d.ts
scripts/node_modules/@jridgewell/trace-mapping/dist/types/types.d.ts
scripts/node_modules/@tsconfig/node10/LICENSE
scripts/node_modules/@tsconfig/node10/package.json
scripts/node_modules/@tsconfig/node10/README.md
scripts/node_modules/@tsconfig/node10/tsconfig.json
scripts/node_modules/@tsconfig/node12/LICENSE
scripts/node_modules/@tsconfig/node12/package.json
scripts/node_modules/@tsconfig/node12/README.md
scripts/node_modules/@tsconfig/node12/tsconfig.json
scripts/node_modules/@tsconfig/node14/LICENSE
scripts/node_modules/@tsconfig/node14/package.json
scripts/node_modules/@tsconfig/node14/README.md
scripts/node_modules/@tsconfig/node14/tsconfig.json
scripts/node_modules/@tsconfig/node16/LICENSE
scripts/node_modules/@tsconfig/node16/package.json
scripts/node_modules/@tsconfig/node16/README.md
scripts/node_modules/@tsconfig/node16/tsconfig.json
scripts/node_modules/@types/node/assert.d.ts
scripts/node_modules/@types/node/async_hooks.d.ts
scripts/node_modules/@types/node/buffer.buffer.d.ts
scripts/node_modules/@types/node/buffer.d.ts
scripts/node_modules/@types/node/child_process.d.ts
scripts/node_modules/@types/node/cluster.d.ts
scripts/node_modules/@types/node/console.d.ts
scripts/node_modules/@types/node/constants.d.ts
scripts/node_modules/@types/node/crypto.d.ts
scripts/node_modules/@types/node/dgram.d.ts
scripts/node_modules/@types/node/diagnostics_channel.d.ts
scripts/node_modules/@types/node/dns.d.ts
scripts/node_modules/@types/node/domain.d.ts
scripts/node_modules/@types/node/events.d.ts
scripts/node_modules/@types/node/fs.d.ts
scripts/node_modules/@types/node/globals.d.ts
scripts/node_modules/@types/node/globals.typedarray.d.ts
scripts/node_modules/@types/node/http.d.ts
scripts/node_modules/@types/node/http2.d.ts
scripts/node_modules/@types/node/https.d.ts
scripts/node_modules/@types/node/index.d.ts
scripts/node_modules/@types/node/inspector.generated.d.ts
scripts/node_modules/@types/node/LICENSE
scripts/node_modules/@types/node/module.d.ts
scripts/node_modules/@types/node/net.d.ts
scripts/node_modules/@types/node/os.d.ts
scripts/node_modules/@types/node/package.json
scripts/node_modules/@types/node/path.d.ts
scripts/node_modules/@types/node/perf_hooks.d.ts
scripts/node_modules/@types/node/process.d.ts
scripts/node_modules/@types/node/punycode.d.ts
scripts/node_modules/@types/node/querystring.d.ts
scripts/node_modules/@types/node/readline.d.ts
scripts/node_modules/@types/node/README.md
scripts/node_modules/@types/node/repl.d.ts
scripts/node_modules/@types/node/sea.d.ts
scripts/node_modules/@types/node/stream.d.ts
scripts/node_modules/@types/node/string_decoder.d.ts
scripts/node_modules/@types/node/test.d.ts
scripts/node_modules/@types/node/timers.d.ts
scripts/node_modules/@types/node/tls.d.ts
scripts/node_modules/@types/node/trace_events.d.ts
scripts/node_modules/@types/node/tty.d.ts
scripts/node_modules/@types/node/url.d.ts
scripts/node_modules/@types/node/util.d.ts
scripts/node_modules/@types/node/v8.d.ts
scripts/node_modules/@types/node/vm.d.ts
scripts/node_modules/@types/node/wasi.d.ts
scripts/node_modules/@types/node/worker_threads.d.ts
scripts/node_modules/@types/node/zlib.d.ts
scripts/node_modules/@types/node/assert/strict.d.ts
scripts/node_modules/@types/node/compatibility/disposable.d.ts
scripts/node_modules/@types/node/compatibility/index.d.ts
scripts/node_modules/@types/node/compatibility/indexable.d.ts
scripts/node_modules/@types/node/compatibility/iterators.d.ts
scripts/node_modules/@types/node/dns/promises.d.ts
scripts/node_modules/@types/node/fs/promises.d.ts
scripts/node_modules/@types/node/readline/promises.d.ts
scripts/node_modules/@types/node/stream/consumers.d.ts
scripts/node_modules/@types/node/stream/promises.d.ts
scripts/node_modules/@types/node/stream/web.d.ts
scripts/node_modules/@types/node/timers/promises.d.ts
scripts/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
scripts/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
scripts/node_modules/@types/node/ts5.6/index.d.ts
scripts/node_modules/@types/node/web-globals/abortcontroller.d.ts
scripts/node_modules/@types/node/web-globals/domexception.d.ts
scripts/node_modules/@types/node/web-globals/events.d.ts
scripts/node_modules/@types/node/web-globals/fetch.d.ts
scripts/node_modules/acorn/CHANGELOG.md
scripts/node_modules/acorn/LICENSE
scripts/node_modules/acorn/package.json
scripts/node_modules/acorn/README.md
scripts/node_modules/acorn/bin/acorn
scripts/node_modules/acorn/dist/acorn.d.mts
scripts/node_modules/acorn/dist/acorn.d.ts
scripts/node_modules/acorn/dist/acorn.js
scripts/node_modules/acorn/dist/acorn.mjs
scripts/node_modules/acorn/dist/bin.js
scripts/node_modules/acorn-walk/CHANGELOG.md
scripts/node_modules/acorn-walk/LICENSE
scripts/node_modules/acorn-walk/package.json
scripts/node_modules/acorn-walk/README.md
scripts/node_modules/acorn-walk/dist/walk.d.mts
scripts/node_modules/acorn-walk/dist/walk.d.ts
scripts/node_modules/acorn-walk/dist/walk.js
scripts/node_modules/acorn-walk/dist/walk.mjs
scripts/node_modules/arg/index.d.ts
scripts/node_modules/arg/index.js
scripts/node_modules/arg/LICENSE.md
scripts/node_modules/arg/package.json
scripts/node_modules/arg/README.md
scripts/node_modules/create-require/CHANGELOG.md
scripts/node_modules/create-require/create-require.d.ts
scripts/node_modules/create-require/create-require.js
scripts/node_modules/create-require/LICENSE
scripts/node_modules/create-require/package.json
scripts/node_modules/create-require/README.md
scripts/node_modules/diff/CONTRIBUTING.md
scripts/node_modules/diff/LICENSE
scripts/node_modules/diff/package.json
scripts/node_modules/diff/README.md
scripts/node_modules/diff/release-notes.md
scripts/node_modules/diff/runtime.js
scripts/node_modules/diff/dist/diff.js
scripts/node_modules/diff/dist/diff.min.js
scripts/node_modules/diff/lib/index.es6.js
scripts/node_modules/diff/lib/index.js
scripts/node_modules/diff/lib/convert/dmp.js
scripts/node_modules/diff/lib/convert/xml.js
scripts/node_modules/diff/lib/diff/array.js
scripts/node_modules/diff/lib/diff/base.js
scripts/node_modules/diff/lib/diff/character.js
scripts/node_modules/diff/lib/diff/css.js
scripts/node_modules/diff/lib/diff/json.js
scripts/node_modules/diff/lib/diff/line.js
scripts/node_modules/diff/lib/diff/sentence.js
scripts/node_modules/diff/lib/diff/word.js
scripts/node_modules/diff/lib/patch/apply.js
scripts/node_modules/diff/lib/patch/create.js
scripts/node_modules/diff/lib/patch/merge.js
scripts/node_modules/diff/lib/patch/parse.js
scripts/node_modules/diff/lib/util/array.js
scripts/node_modules/diff/lib/util/distance-iterator.js
scripts/node_modules/diff/lib/util/params.js
scripts/node_modules/make-error/index.d.ts
scripts/node_modules/make-error/index.js
scripts/node_modules/make-error/LICENSE
scripts/node_modules/make-error/package.json
scripts/node_modules/make-error/README.md
scripts/node_modules/make-error/dist/make-error.js
scripts/node_modules/ts-node/child-loader.mjs
scripts/node_modules/ts-node/esm.mjs
scripts/node_modules/ts-node/LICENSE
scripts/node_modules/ts-node/package.json
scripts/node_modules/ts-node/README.md
scripts/node_modules/ts-node/tsconfig.schema.json
scripts/node_modules/ts-node/tsconfig.schemastore-schema.json
scripts/node_modules/ts-node/dist/bin-cwd.d.ts
scripts/node_modules/ts-node/dist/bin-cwd.js
scripts/node_modules/ts-node/dist/bin-cwd.js.map
scripts/node_modules/ts-node/dist/bin-esm.d.ts
scripts/node_modules/ts-node/dist/bin-esm.js
scripts/node_modules/ts-node/dist/bin-esm.js.map
scripts/node_modules/ts-node/dist/bin-script-deprecated.d.ts
scripts/node_modules/ts-node/dist/bin-script-deprecated.js
scripts/node_modules/ts-node/dist/bin-script-deprecated.js.map
scripts/node_modules/ts-node/dist/bin-script.d.ts
scripts/node_modules/ts-node/dist/bin-script.js
scripts/node_modules/ts-node/dist/bin-script.js.map
scripts/node_modules/ts-node/dist/bin-transpile.d.ts
scripts/node_modules/ts-node/dist/bin-transpile.js
scripts/node_modules/ts-node/dist/bin-transpile.js.map
scripts/node_modules/ts-node/dist/bin.d.ts
scripts/node_modules/ts-node/dist/bin.js
scripts/node_modules/ts-node/dist/bin.js.map
scripts/node_modules/ts-node/dist/cjs-resolve-hooks.d.ts
scripts/node_modules/ts-node/dist/cjs-resolve-hooks.js
scripts/node_modules/ts-node/dist/cjs-resolve-hooks.js.map
scripts/node_modules/ts-node/dist/configuration.d.ts
scripts/node_modules/ts-node/dist/configuration.js
scripts/node_modules/ts-node/dist/configuration.js.map
scripts/node_modules/ts-node/dist/esm.d.ts
scripts/node_modules/ts-node/dist/esm.js
scripts/node_modules/ts-node/dist/esm.js.map
scripts/node_modules/ts-node/dist/file-extensions.d.ts
scripts/node_modules/ts-node/dist/file-extensions.js
scripts/node_modules/ts-node/dist/file-extensions.js.map
scripts/node_modules/ts-node/dist/index.d.ts
scripts/node_modules/ts-node/dist/index.js
scripts/node_modules/ts-node/dist/index.js.map
scripts/node_modules/ts-node/dist/module-type-classifier.d.ts
scripts/node_modules/ts-node/dist/module-type-classifier.js
scripts/node_modules/ts-node/dist/module-type-classifier.js.map
scripts/node_modules/ts-node/dist/node-module-type-classifier.d.ts
scripts/node_modules/ts-node/dist/node-module-type-classifier.js
scripts/node_modules/ts-node/dist/node-module-type-classifier.js.map
scripts/node_modules/ts-node/dist/repl.d.ts
scripts/node_modules/ts-node/dist/repl.js
scripts/node_modules/ts-node/dist/repl.js.map
scripts/node_modules/ts-node/dist/resolver-functions.d.ts
scripts/node_modules/ts-node/dist/resolver-functions.js
scripts/node_modules/ts-node/dist/resolver-functions.js.map
scripts/node_modules/ts-node/dist/ts-compiler-types.d.ts
scripts/node_modules/ts-node/dist/ts-compiler-types.js
scripts/node_modules/ts-node/dist/ts-compiler-types.js.map
scripts/node_modules/ts-node/dist/ts-internals.d.ts
scripts/node_modules/ts-node/dist/ts-internals.js
scripts/node_modules/ts-node/dist/ts-internals.js.map
scripts/node_modules/ts-node/dist/ts-transpile-module.d.ts
scripts/node_modules/ts-node/dist/ts-transpile-module.js
scripts/node_modules/ts-node/dist/ts-transpile-module.js.map
scripts/node_modules/ts-node/dist/tsconfig-schema.d.ts
scripts/node_modules/ts-node/dist/tsconfig-schema.js
scripts/node_modules/ts-node/dist/tsconfig-schema.js.map
scripts/node_modules/ts-node/dist/tsconfigs.d.ts
scripts/node_modules/ts-node/dist/tsconfigs.js
scripts/node_modules/ts-node/dist/tsconfigs.js.map
scripts/node_modules/ts-node/dist/util.d.ts
scripts/node_modules/ts-node/dist/util.js
scripts/node_modules/ts-node/dist/util.js.map
scripts/node_modules/ts-node/dist/child/argv-payload.d.ts
scripts/node_modules/ts-node/dist/child/argv-payload.js
scripts/node_modules/ts-node/dist/child/argv-payload.js.map
scripts/node_modules/ts-node/dist/child/child-entrypoint.d.ts
scripts/node_modules/ts-node/dist/child/child-entrypoint.js
scripts/node_modules/ts-node/dist/child/child-entrypoint.js.map
scripts/node_modules/ts-node/dist/child/child-loader.d.ts
scripts/node_modules/ts-node/dist/child/child-loader.js
scripts/node_modules/ts-node/dist/child/child-loader.js.map
scripts/node_modules/ts-node/dist/child/child-require.d.ts
scripts/node_modules/ts-node/dist/child/child-require.js
scripts/node_modules/ts-node/dist/child/child-require.js.map
scripts/node_modules/ts-node/dist/child/spawn-child.d.ts
scripts/node_modules/ts-node/dist/child/spawn-child.js
scripts/node_modules/ts-node/dist/child/spawn-child.js.map
scripts/node_modules/ts-node/dist/transpilers/swc.d.ts
scripts/node_modules/ts-node/dist/transpilers/swc.js
scripts/node_modules/ts-node/dist/transpilers/swc.js.map
scripts/node_modules/ts-node/dist/transpilers/types.d.ts
scripts/node_modules/ts-node/dist/transpilers/types.js
scripts/node_modules/ts-node/dist/transpilers/types.js.map
scripts/node_modules/ts-node/dist-raw/node-internal-constants.js
scripts/node_modules/ts-node/dist-raw/node-internal-errors.js
scripts/node_modules/ts-node/dist-raw/node-internal-modules-cjs-helpers.js
scripts/node_modules/ts-node/dist-raw/node-internal-modules-cjs-loader.js
scripts/node_modules/ts-node/dist-raw/node-internal-modules-esm-get_format.js
scripts/node_modules/ts-node/dist-raw/node-internal-modules-esm-resolve.js
scripts/node_modules/ts-node/dist-raw/node-internal-modules-package_json_reader.js
scripts/node_modules/ts-node/dist-raw/node-internal-repl-await.js
scripts/node_modules/ts-node/dist-raw/node-internalBinding-fs.js
scripts/node_modules/ts-node/dist-raw/NODE-LICENSE.md
scripts/node_modules/ts-node/dist-raw/node-nativemodule.js
scripts/node_modules/ts-node/dist-raw/node-options.js
scripts/node_modules/ts-node/dist-raw/node-primordials.js
scripts/node_modules/ts-node/dist-raw/README.md
scripts/node_modules/ts-node/dist-raw/runmain-hack.js
scripts/node_modules/ts-node/esm/transpile-only.mjs
scripts/node_modules/ts-node/node10/tsconfig.json
scripts/node_modules/ts-node/node12/tsconfig.json
scripts/node_modules/ts-node/node14/tsconfig.json
scripts/node_modules/ts-node/node16/tsconfig.json
scripts/node_modules/ts-node/register/files.js
scripts/node_modules/ts-node/register/index.js
scripts/node_modules/ts-node/register/transpile-only.js
scripts/node_modules/ts-node/register/type-check.js
scripts/node_modules/ts-node/transpilers/swc-experimental.js
scripts/node_modules/ts-node/transpilers/swc.js
scripts/node_modules/typescript/LICENSE.txt
scripts/node_modules/typescript/package.json
scripts/node_modules/typescript/README.md
scripts/node_modules/typescript/SECURITY.md
scripts/node_modules/typescript/ThirdPartyNoticeText.txt
scripts/node_modules/typescript/bin/tsc
scripts/node_modules/typescript/bin/tsserver
scripts/node_modules/typescript/lib/_tsc.js
scripts/node_modules/typescript/lib/_tsserver.js
scripts/node_modules/typescript/lib/_typingsInstaller.js
scripts/node_modules/typescript/lib/lib.d.ts
scripts/node_modules/typescript/lib/lib.decorators.d.ts
scripts/node_modules/typescript/lib/lib.decorators.legacy.d.ts
scripts/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
scripts/node_modules/typescript/lib/lib.dom.d.ts
scripts/node_modules/typescript/lib/lib.dom.iterable.d.ts
scripts/node_modules/typescript/lib/lib.es5.d.ts
scripts/node_modules/typescript/lib/lib.es6.d.ts
scripts/node_modules/typescript/lib/lib.es2015.collection.d.ts
scripts/node_modules/typescript/lib/lib.es2015.core.d.ts
scripts/node_modules/typescript/lib/lib.es2015.d.ts
scripts/node_modules/typescript/lib/lib.es2015.generator.d.ts
scripts/node_modules/typescript/lib/lib.es2015.iterable.d.ts
scripts/node_modules/typescript/lib/lib.es2015.promise.d.ts
scripts/node_modules/typescript/lib/lib.es2015.proxy.d.ts
scripts/node_modules/typescript/lib/lib.es2015.reflect.d.ts
scripts/node_modules/typescript/lib/lib.es2015.symbol.d.ts
scripts/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
scripts/node_modules/typescript/lib/lib.es2016.array.include.d.ts
scripts/node_modules/typescript/lib/lib.es2016.d.ts
scripts/node_modules/typescript/lib/lib.es2016.full.d.ts
scripts/node_modules/typescript/lib/lib.es2016.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2017.arraybuffer.d.ts
scripts/node_modules/typescript/lib/lib.es2017.d.ts
scripts/node_modules/typescript/lib/lib.es2017.date.d.ts
scripts/node_modules/typescript/lib/lib.es2017.full.d.ts
scripts/node_modules/typescript/lib/lib.es2017.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2017.object.d.ts
scripts/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
scripts/node_modules/typescript/lib/lib.es2017.string.d.ts
scripts/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
scripts/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
scripts/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
scripts/node_modules/typescript/lib/lib.es2018.d.ts
scripts/node_modules/typescript/lib/lib.es2018.full.d.ts
scripts/node_modules/typescript/lib/lib.es2018.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2018.promise.d.ts
scripts/node_modules/typescript/lib/lib.es2018.regexp.d.ts
scripts/node_modules/typescript/lib/lib.es2019.array.d.ts
scripts/node_modules/typescript/lib/lib.es2019.d.ts
scripts/node_modules/typescript/lib/lib.es2019.full.d.ts
scripts/node_modules/typescript/lib/lib.es2019.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2019.object.d.ts
scripts/node_modules/typescript/lib/lib.es2019.string.d.ts
scripts/node_modules/typescript/lib/lib.es2019.symbol.d.ts
scripts/node_modules/typescript/lib/lib.es2020.bigint.d.ts
scripts/node_modules/typescript/lib/lib.es2020.d.ts
scripts/node_modules/typescript/lib/lib.es2020.date.d.ts
scripts/node_modules/typescript/lib/lib.es2020.full.d.ts
scripts/node_modules/typescript/lib/lib.es2020.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2020.number.d.ts
scripts/node_modules/typescript/lib/lib.es2020.promise.d.ts
scripts/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
scripts/node_modules/typescript/lib/lib.es2020.string.d.ts
scripts/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
scripts/node_modules/typescript/lib/lib.es2021.d.ts
scripts/node_modules/typescript/lib/lib.es2021.full.d.ts
scripts/node_modules/typescript/lib/lib.es2021.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2021.promise.d.ts
scripts/node_modules/typescript/lib/lib.es2021.string.d.ts
scripts/node_modules/typescript/lib/lib.es2021.weakref.d.ts
scripts/node_modules/typescript/lib/lib.es2022.array.d.ts
scripts/node_modules/typescript/lib/lib.es2022.d.ts
scripts/node_modules/typescript/lib/lib.es2022.error.d.ts
scripts/node_modules/typescript/lib/lib.es2022.full.d.ts
scripts/node_modules/typescript/lib/lib.es2022.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2022.object.d.ts
scripts/node_modules/typescript/lib/lib.es2022.regexp.d.ts
scripts/node_modules/typescript/lib/lib.es2022.string.d.ts
scripts/node_modules/typescript/lib/lib.es2023.array.d.ts
scripts/node_modules/typescript/lib/lib.es2023.collection.d.ts
scripts/node_modules/typescript/lib/lib.es2023.d.ts
scripts/node_modules/typescript/lib/lib.es2023.full.d.ts
scripts/node_modules/typescript/lib/lib.es2023.intl.d.ts
scripts/node_modules/typescript/lib/lib.es2024.arraybuffer.d.ts
scripts/node_modules/typescript/lib/lib.es2024.collection.d.ts
scripts/node_modules/typescript/lib/lib.es2024.d.ts
scripts/node_modules/typescript/lib/lib.es2024.full.d.ts
scripts/node_modules/typescript/lib/lib.es2024.object.d.ts
scripts/node_modules/typescript/lib/lib.es2024.promise.d.ts
scripts/node_modules/typescript/lib/lib.es2024.regexp.d.ts
scripts/node_modules/typescript/lib/lib.es2024.sharedmemory.d.ts
scripts/node_modules/typescript/lib/lib.es2024.string.d.ts
scripts/node_modules/typescript/lib/lib.esnext.array.d.ts
scripts/node_modules/typescript/lib/lib.esnext.collection.d.ts
scripts/node_modules/typescript/lib/lib.esnext.d.ts
scripts/node_modules/typescript/lib/lib.esnext.decorators.d.ts
scripts/node_modules/typescript/lib/lib.esnext.disposable.d.ts
scripts/node_modules/typescript/lib/lib.esnext.error.d.ts
scripts/node_modules/typescript/lib/lib.esnext.float16.d.ts
scripts/node_modules/typescript/lib/lib.esnext.full.d.ts
scripts/node_modules/typescript/lib/lib.esnext.intl.d.ts
scripts/node_modules/typescript/lib/lib.esnext.iterator.d.ts
scripts/node_modules/typescript/lib/lib.esnext.promise.d.ts
scripts/node_modules/typescript/lib/lib.esnext.sharedmemory.d.ts
scripts/node_modules/typescript/lib/lib.scripthost.d.ts
scripts/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
scripts/node_modules/typescript/lib/lib.webworker.d.ts
scripts/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
scripts/node_modules/typescript/lib/lib.webworker.iterable.d.ts
scripts/node_modules/typescript/lib/tsc.js
scripts/node_modules/typescript/lib/tsserver.js
scripts/node_modules/typescript/lib/tsserverlibrary.d.ts
scripts/node_modules/typescript/lib/tsserverlibrary.js
scripts/node_modules/typescript/lib/typescript.d.ts
scripts/node_modules/typescript/lib/typescript.js
scripts/node_modules/typescript/lib/typesMap.json
scripts/node_modules/typescript/lib/typingsInstaller.js
scripts/node_modules/typescript/lib/watchGuard.js
scripts/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/de/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/es/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/it/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
scripts/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
scripts/node_modules/undici-types/agent.d.ts
scripts/node_modules/undici-types/api.d.ts
scripts/node_modules/undici-types/balanced-pool.d.ts
scripts/node_modules/undici-types/cache.d.ts
scripts/node_modules/undici-types/client.d.ts
scripts/node_modules/undici-types/connector.d.ts
scripts/node_modules/undici-types/content-type.d.ts
scripts/node_modules/undici-types/cookies.d.ts
scripts/node_modules/undici-types/diagnostics-channel.d.ts
scripts/node_modules/undici-types/dispatcher.d.ts
scripts/node_modules/undici-types/env-http-proxy-agent.d.ts
scripts/node_modules/undici-types/errors.d.ts
scripts/node_modules/undici-types/eventsource.d.ts
scripts/node_modules/undici-types/fetch.d.ts
scripts/node_modules/undici-types/file.d.ts
scripts/node_modules/undici-types/filereader.d.ts
scripts/node_modules/undici-types/formdata.d.ts
scripts/node_modules/undici-types/global-dispatcher.d.ts
scripts/node_modules/undici-types/global-origin.d.ts
scripts/node_modules/undici-types/handlers.d.ts
scripts/node_modules/undici-types/header.d.ts
scripts/node_modules/undici-types/index.d.ts
scripts/node_modules/undici-types/interceptors.d.ts
scripts/node_modules/undici-types/LICENSE
scripts/node_modules/undici-types/mock-agent.d.ts
scripts/node_modules/undici-types/mock-client.d.ts
scripts/node_modules/undici-types/mock-errors.d.ts
scripts/node_modules/undici-types/mock-interceptor.d.ts
scripts/node_modules/undici-types/mock-pool.d.ts
scripts/node_modules/undici-types/package.json
scripts/node_modules/undici-types/patch.d.ts
scripts/node_modules/undici-types/pool-stats.d.ts
scripts/node_modules/undici-types/pool.d.ts
scripts/node_modules/undici-types/proxy-agent.d.ts
scripts/node_modules/undici-types/readable.d.ts
scripts/node_modules/undici-types/README.md
scripts/node_modules/undici-types/retry-agent.d.ts
scripts/node_modules/undici-types/retry-handler.d.ts
scripts/node_modules/undici-types/util.d.ts
scripts/node_modules/undici-types/webidl.d.ts
scripts/node_modules/undici-types/websocket.d.ts
scripts/node_modules/v8-compile-cache-lib/CHANGELOG.md
scripts/node_modules/v8-compile-cache-lib/LICENSE
scripts/node_modules/v8-compile-cache-lib/package.json
scripts/node_modules/v8-compile-cache-lib/README.md
scripts/node_modules/v8-compile-cache-lib/v8-compile-cache.d.ts
scripts/node_modules/v8-compile-cache-lib/v8-compile-cache.js
scripts/node_modules/yn/index.d.ts
scripts/node_modules/yn/index.js
scripts/node_modules/yn/lenient.js
scripts/node_modules/yn/license
scripts/node_modules/yn/package.json
scripts/node_modules/yn/readme.md
